/* font management */
@font-face {
    font-family: Meslo;
    src: url(../resources/MesloLGM.ttf);
}

@font-face {
    font-family: MesloBold;
    src: url(../resources/MesloLGMBold.ttf);
}

* {
    font-family: Meslo;
}

.bold {
    font-family: MesloBold;
}

.small {
    font-size: 0.6em;
}



/* coloring */
@media (prefers-color-scheme: dark) {
    :root {
        --background: #201e29;
        --foreground: #d9e0ee;
        --accent: #c3e5b9;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #babbf9;
        --foreground: #120f19;
        --accent: #7e2ce8;    
    }
}

body {
    background-color: var(--background);
    color: var(--foreground);
}

.hi {
    color: var(--accent);
    text-shadow: currentColor 0 0 20px;
}


/* wrapper for content center */
body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    padding-left: 10px;
    padding-right: 10px;
}

#main {
    max-width: 71ch;
}



/* Actual content adjustments */
.row {
    margin: 0;
}
.icon {
    font-family: none;

    margin: 1px 3px 0 0;
    padding: 5px;
    border-radius: 0.2em;

    transition: 0.5s;
    cursor: pointer;
}

.icon:hover {
    background-color: var(--foreground);
    color: var(--background);
}
