/* font management */
@font-face {
    font-family: Meslo;
    src: url(../resources/MesloLGM.ttf);
}

@font-face {
    font-family: MesloBold;
    src: url(../resources/MesloLGMBold.ttf);
}

* {
    font-family: Meslo;
}

.bold {
    font-family: MesloBold;
}



/* coloring */
body {
    background-color: #282828;
    color: #dfbf8e;
}

.hi {
    color: #e78a4e;
}



/* wrapper for content center */
#center {
    height: 95vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;
}

#main {
    max-width: 75ch;
}



/* Actual content adjustments */
.row {
    margin: 0;
}

.icon {
    margin-right: 0.5rem;
    transition: 0.5s;
    cursor: pointer;
}

.icon:hover {
    color: #dfbf8e;
}

.term-char{
    cursor: default;
    transition: 1s;
}

.term-char:hover{
    background-color: #dfbf8e;
    color: #282828;
    transition: 0s;
}
