/* Styles to overwrite and add to basic stylesheet, for simple text content pages */

.vertical-center {
    padding: 20vh 1em 1em 1em;
    display: block;
    overflow-y: scroll;
}

@font-face {
    font-family: "HelveticaBold";
    src: url("../resources/Helvetica-Bold-Font.ttf")
}

@font-face {
    font-family: "Helvetica";
    src: url("../resources/Helvetica.ttf")
}


.content {
    max-width: 75ch;
    border-radius: 0.5rem;
    width: fit-content;
    padding: 1.5rem;
    padding-bottom: 0.5rem;
    width: fit-content;
    background-color: black;
    color: white;
}

.content {
    max-width: 75ch;
    border-radius: 0.5rem;
    width: fit-content;
    padding: 1.5rem;
    padding-bottom: 0.5rem;
}

.inline {
    width: fit-content;
    padding: 1rem;
}

.project {
    padding: 2rem;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
    border-radius: 1rem;
    width: fit-content;
    background-color: black;
    color: white;
}

h1, h3, strong {
    text-shadow: 0px 0px 2rem white;
}

@media screen and (max-width: 500px) {
    .project {
        padding: 1rem;
        margin: 0.5rem 0.25rem;
    }
}

.redirect {
    margin-right: 0.8em;
    transition: 0.3s;
}

.redirect:hover {
    margin-right: 0.8em;
    box-shadow: 0px 0px 1rem 0.2rem white;
}

.tool {
    margin: 0.2em;
}
