html, body {
    height: 100%;
    color: white;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)), url("../resources/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@font-face {
    font-family: "HelveticaBold";
    src: url("../resources/Helvetica-Bold-Font.ttf")
}

.vertical-center {
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.navitem {
    font-family: HelveticaBold;
    border-radius: 0.5rem;
    padding: 0.5rem 1.25rem 0.5rem 1rem;
    cursor: pointer;
    width: fit-content;
    transition: 0.5s;    
}

.navitem:hover {
    background-color: white;
    color: black;
}

.navitem-header {
    opacity: 100;
    background-image: linear-gradient(90deg, #ff6469, #ffd36b, #96ffc0, #ffd36b, #ff6469);
    background-size: 200%;
    background-clip: text;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent; 
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;

    background-position: 0em top;
    animation: scrollbg linear 9s infinite;
}

@keyframes scrollbg {
    from { background-position: 0em top; }
    to { background-position: 17em top; }
}

.navitem-header-content-small {
    display: none;
}

@media screen and (max-width: 500px) {
    .navitem-header-content-large {
        display: none;
    }

    .navitem-header-content-small {
        display: block;
    }

    @keyframes scrollbg {
        from { background-position: 0em top; }
        to { background-position: 11.5em top; }
    }    
}

.navfade1 {
    animation: fadein ease 2s;
    animation-delay: 0.1s;
    animation-fill-mode: both;
}

.navfade2 {
    animation: fadein ease 2s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}

.navfade3 {
    animation: fadein ease 2s;
    animation-delay: 0.9s;
    animation-fill-mode: both;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.footer {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
}

.footer-cred {
    cursor: pointer;
    text-decoration: underline;
}
